<meta charset="utf-8">
<meta name="author" content="fteiwtdt">
<meta name="renderer" content="webkit">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
<meta name="apple-mobile-web-app-title" content="{{ site.description }}">
<title>{{ site.description }}</title>
{% if site.description %}
<meta name="description" content="{{ site.description }}">
{% endif %}
<link rel="stylesheet" href="{{ '/assets/css/styles.css' }}">
