@charset "utf-8";

@font-face {
    font-family: 'DejaVu Sans Mono';
    font-weight: 400;
    font-style: normal;
    src: url('../fonts/DejaVuSansMono.woff') format('woff');
}

@font-face {
    font-family: 'DejaVu Sans Mono';
    font-weight: 400;
    font-style: italic;
    src: url('../fonts/DejaVuSansMono-Oblique.woff') format('woff');
}

@font-face {
    font-family: 'DejaVu Sans Mono';
    font-weight: 700;
    font-style: normal;
    src: url('../fonts/DejaVuSansMono-Bold.woff') format('woff');
}

@font-face {
    font-family: 'DejaVu Sans Mono';
    font-weight: 700;
    font-style: italic;
    src: url('../fonts/DejaVuSansMono-BoldOblique.woff') format('woff');
}

@font-face {
    font-family: 'iMing';
    font-weight: 400;
    font-style: normal;
    src: url('../fonts/iMing.woff') format('woff');
}

$font-size: 1rem;
$code-font-size: 0.75 * $font-size;
$font-weight: 400;
$bold-font-weight: 700;

$sans-serif: -apple-system-font, 'Helvetica Neue', Helvetica, 'Heiti TC', 'Microsoft YaHei', Arial, sans-serif;
$serif: Palatino, iMing, 'Times New Roman', serif;
$monospace: 'DejaVu Sans Mono', monospace;

$line-height: 1.36;
$code-line-height: 1.2;

h1, h2, h3, h4, h5, h6, strong {
	font-weight: $bold-font-weight;
}

h1 { font-size: 1.4 * $font-size; }
h2 { font-size: 1.2 * $font-size; }
h3 { font-size: 1.1 * $font-size; }
